{
  "remote": {
    "walletApi": "http://STACK-HOST:8091",
    "topupWebhook": "http://STACK-HOST:8092",
    "orchestrator": "http://STACK-HOST:8093",
    "bankFake": "http://STACK-HOST:8094",
    "bankWebhook": "http://STACK-HOST:8095",
    "stripeFake": "http://STACK-HOST:8096"
  }
}
